.card-list {
  margin-bottom: 15px;

  @include media-breakpoint-up(sm) {
    padding-left: 7px;
    padding-right: 8px;
  }

}
.wrap-figure {

  background-color: $black;

  @include hover() {
    figure {
      opacity: 0.4;
    }
  }

  figure {
    position: relative;
    padding: 50% 0;
    margin: 0px;
    opacity: 0.7;

  }

  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .detail {
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding: 10% 8% 5%;
      width: 100%;
      color: $white;
      font-family: $font-family-Oswald;

      h3 {
        color: $white;
        font-family: $font-family-Oswald;
        font-weight: 500;
      }
      span {
        font-weight: 300;
      }

      .price {
        color: $orange;
        font-weight: 500;
      }
      .buy {
        cursor: pointer;
      }
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}
