// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
  .search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}
.form-search {
  input[type=text] {
    height: 32px;
    font-size: rem(14);
    color: $grey2;
    border: 0px;
  }

  .input-group-addon {
    height: 32px;
    border: 0px;
    cursor: pointer;
    background-color: $green1;
  }
  button[type=submit] {
    outline: none;
    border: 0px;
    background: transparent;
    padding: 0px;
    margin-top: -1px;
    cursor: pointer;
    color: #fff;
  }
}
