// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$white :                #ffffff;
$black :                #000000;
$brand-primary:         #2b6dad;
$grey :                 #333;
$grey2 :                #999;
$grey3 :                #262626;
$grey4 :                #808393;
$grey5 :                #666;
$grey6 :                #f6f6f6;
$grey7 :                #7d9dab;
$grey8 :                #f7f7f7;
$bg_Body :              #fafafa;
$main-color :           #1bb3f6;
$red1 :                 #b92b27;
$red2 :                 #d80000;
$orange :               #ff5705;
$green1 :               #43ffba;
$color-facebbok :       #3b5998;
$color-twitter :        #1DA1F2;
$color-instagram :      #262626;
$color-youtube :        #e52d27;

$base-font-size:        16;


//fonts family
$font-family-Oswald:      'Oswald', sans-serif;