#header {
  color: #fff;
  font-size: rem(14);


  .navbar {
    background-color: $main-color;
    padding-top: 0px;
    padding-bottom: 0px;


  }

  .navbar-brand {
    padding-top: 0px;
    margin: 0px;
    color: $white;
    font-family: $font-family-Pacifico;
    font-size: rem(30);

    @include media-breakpoint-down(sm){
      margin: 0px;
      padding: 0px;
      text-align: center;
      line-height: 1px;
      margin-left: 20px;

      img {
        width: 74%;
      }
    }
  }

  .admin-bar & {
    .navbar {
      margin-top: 32px;
    }
  }

  ul li a {

  }

  .social-media {

    &.on-top {

      .fa{
        top: 0px;
        margin-right: 0px;
        margin-left: 10px;

        &.fa-facebook-square , &.fa-twitter-square {
          color: $white;
        }

      }

    }

    .fa {
      font-size: rem(25);
      top: 4px;
      position: relative;
      margin-right: 5px;



      &.fa-facebook-square {
        color: $color-facebbok;
      }

      &.fa-instagram {
        color: $color-instagram;
      }

      &.fa-twitter-square {
        color: $color-twitter;
      }

      &.fa-youtube-square {
        color: $color-youtube;
      }

    }
  }




}

.header-top {
  background-color: $main-color;
  z-index: 99;
  position: relative;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);


  &__inner {
    height: 42px;
    @include media-breakpoint-down(sm) {
      height: 35px;
    }
  }

}

.header-bottom {
  color: #fff;
  height: 40px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  transition: top 0.2s ease-in-out;
  position: fixed;
  width: 100%;
  top: 42px;

  .admin-bar & {
    top: 75px;
  }

  @include media-breakpoint-down(sm) {
    height: 35px;
    top: 35px;
    .admin-bar & {
      top: 67px;
    }
  }

}

.nav-up {
  top: -42px;

  .admin-bar & {
    top: -75px;
  }


  @include media-breakpoint-down(sm) {
    top: -35px;
  }
}

.container-header {

  @include media-breakpoint-down(sm) {
    padding: 0px;
  }

  @include media-breakpoint-up(sm) {
   // display: table;
    flex-wrap: nowrap;
    align-items: center;
  }
}


.header-navigation {
  width: auto !important;
}

.header-nav {

  .header-search-mobile & {
    li {
      a {
        font-size: rem(16);
        padding: 0px 5px;
        line-height: 33px;
      }
    }
  }

  li {
    a {
      position: relative;
      display: block;
      color: #fff;
      line-height: 40px;
      padding: 0 14px;
      border-bottom: 2px solid transparent;
      font-size: rem(14);
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 500;

      @include hover() {
        text-decoration: none;
        background-color: lighten($main-color, 10%);
      }


    }

    &.active {
      a {
        text-decoration: none;
        background-color: lighten($main-color, 10%);
      }
    }

    &.current-menu-item {
      a {
        color: #fff;
        border-color: #fff;
      }
    }



    &.dot-notif {
      a {
        &:after {
          content: '';
          width: 10px;
          height: 10px;
          background-color: $red2;
          display: block;
          position: absolute;
          top: 13px;
          left: 30px;
          border-radius: 50px;
        }
      }
    }

  }
}

.header-search {
  .form-search {
    width: 360px;
    @include media-breakpoint-up(lg) {
      width: 428px;
    }



    input[type=text] {
      height: 28px;
    }
    .input-group-addon {
      height: 28px;
    }

    button[type=submit] {
      margin-top: -4px;
    }


  }
  /*&.extend {
    .form-search {
      @include media-breakpoint-up(lg) {
        width: 594px;
      }


    }
  }*/
  .input-group {
    width: 100%;
  }
}

.header-container-category {
  width: 100%;
  margin: 0px auto;

  @include media-breakpoint-up(sm){
    width: 60%;
  }


  .cat {

    font-family: $font-family-Oswald;
    text-transform: uppercase;

    a {
      line-height: 40px;
      color: $grey3;
      font-weight: 500;
      padding: 0px 13px;

      @include hover () {
        text-decoration: none;
      }

      @include media-breakpoint-down(sm) {
        line-height: 35px;
        padding: 0px 6px;
      }


    }

    &.user-profile {
      background-color: #4cc3f8;

      /*position: relative;
      overflow: hidden;*/

      /*&:after{
        content: '';
        background-color: lighten($main-color, 10%);
        position: absolute;
        height: 100%;
        width: 100%;
        left: -95%;
        position: absolute;
        top: 0px;

      }*/


      img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-top: -1px;
        display: block;
      }
    }
  }
}